@model Demo.Models.Patient

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Edit Patient</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" media="all" href="~/Content/site.css" />
</head>
<body>
    <br />
    <h2 class="heading-font" style="margin-left:14rem; margin-bottom: 2rem;">Edit Patient</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default radius-div edit-div" style="margin-left:15%; padding-left:4rem;">
                    <br />
                    @using (Html.BeginForm(actionName: "Edit", controllerName: "Patient"))
                    {
                        @Html.HttpMethodOverride(HttpVerbs.Put)

                        @Html.HiddenFor(m => m.PatientId)

                        @Html.Label("Name", "Name")
                        <br />
                        @Html.Editor("Name")
                        <br /><br />
                        @Html.Label("Surname", "Surname")
                        <br />
                        @Html.Editor("Surname")
                        <br /><br />
                        @Html.Label("Gender", "Gender")
                        <br />
                        @Html.EditorFor(m => m.Gender)
                        @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "text-danger" })
                        <br /><br />
                        @Html.Label("Date", "Date")
                        <br />
                        @Html.EditorFor(m => m.BirthDate)
                        @Html.ValidationMessageFor(m => m.BirthDate, "", new { @class = "text-danger" })
                        <br /> <br />
                        <button class="btn btn-sm btn-success" type="submit">Edit</button>
                        <br />
                    }
                    <br />
                </div>
            </div>
            <div class="col-md-6">
                <a class="btn btn-default" href="/Patient/Show/@Model.PatientId">Back to patient details</a>
            </div>
        </div>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
</body>
</html>