@model IEnumerable<Demo.Models.Doctor>

@{
    ViewBag.Title = "Index";
}

<h2>Doctors</h2>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specialization)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Experience)
        </th>
        <th>
            @Html.Label("Medical Center")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicalCenter.Name)
            </td>
            <td>
                <a class="btn btn-primary pull-left" href="/Doctor/Edit/@item.DoctorId">Edit</a>
                <a class="btn btn-info pull-left" href="/Doctor/Show/@item.DoctorId">Details</a>
                <form method="post" action="/Doctor/Delete/@item.DoctorId">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button class="btn btn-danger pull-right" style="border: none; " type="submit">Delete</button>
                </form>
            </td>
        </tr>
    }

</table>
<br />
<a class="btn btn-success" href="/Doctor/New">Add Doctor</a>
<br />

