@model Demo.Models.Appointment

<div>
    <br />
    <h3>Appointment Details</h3>
    <br />
    <table class="table">
        <tr>
            <td>
                @Html.Label("Type")
            </td>
            <th>
                @Html.DisplayFor(model => model.Type)
            </th>
        </tr>
        <tr>
            <td>
                @Html.Label("Date")
            </td>
            <th>
                @Html.DisplayFor(model => model.Date)
            </th>
        </tr>
        <tr>
            <td>
                @Html.Label("Patient")
            </td>
            <th>
                @Html.DisplayFor(model => model.Patient.Name)
                @Html.DisplayFor(model => model.Patient.Surname)
            </th>
        </tr>
        <tr>
            <td>
                @Html.Label("Doctor")
            </td>
            <th>
                @Html.DisplayFor(model => model.Doctor.Name)
                @Html.DisplayFor(model => model.Doctor.Surname)
            </th>
        </tr>
        <tr>
            <td>
                @Html.Label("Medical Center")
            </td>
            <th>
                @Html.DisplayFor(model => model.Doctor.MedicalCenter.Name)
            </th>
        </tr>
        <tr>
            <td>
                @Html.Label("Medical Center Address")
            </td>
            <th>
                @Html.DisplayFor(model => model.Doctor.MedicalCenter.Address)
            </th>
        </tr>
        <tr>
            <td>
                @Html.Label("Medical Center Contact")
            </td>
            <th>
                @Html.DisplayFor(model => model.Doctor.MedicalCenter.Contact)
            </th>
        </tr>
    </table>
    <a class="btn btn-primary" href="/Appointment/Edit/@Model.AppointmentId">Edit</a>
    <a class="btn btn-danger" href="/Appointment/Delete/@Model.AppointmentId">Delete</a>
</div>
