<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MedApp</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" media="all" href="~/Content/Site.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("MedApp", "Index", "Home", null, new { @class = "navbar-brand white-link" })
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Appointments", "Index", "Appointment", null, new { @class = "white-link" })</li>
                    <li>@Html.ActionLink("Patients", "Index", "Patient", null, new { @class = "white-link" })</li>
                    <li>@Html.ActionLink("Doctors", "Index", "Doctor", null, new { @class = "white-link" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="my-footer-container">
        <footer class="bg-light text-center text-lg-start">
            <button class="pull-right" onclick="toTopFunction()" id="scroll-to-top" title="Go to top">&uarr;</button>
            <div class="text-center p-3" style="background-color: #053957;">
                <br />
                <p class="nav-font" style="color:white;">&copy; @DateTime.Now.Year - MedApp Application</p>
                <br />
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="../../Scripts/Layout.js" language="javascript"></script>
</body>
</html>
